{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">

    <title>Employees</title>
</head>
<body>
<h2>List of employees</h2>
{% for employee in employees %}
    <table>
        <tr>
            <td>
                <p>
                    <b>{{ employee.get_full_name }}</b> -
                    <span class="badge badge-primary">Position: "{{ employee.position }}"</span>
                </p>
            <ul>
                {% for obj in employee.employees.all %}
                    <li>
                        {{ obj.get_full_name }} -
                        <span class="badge badge-secondary">Position: "{{ obj.position }}"</span>
                        <ul>
                            {% for i in obj.employees.all %}
                                <li>
                                    {{ i.get_full_name }} -
                                    <span class="badge badge-success">Position: "{{ i.position }}"</span>
                                    <ul>
                                        {% for j in i.employees.all %}
                                            <li>
                                                {{ j.get_full_name }} -
                                                <span class="badge badge-warning">Position: "{{ j.position }}"</span>
                                                <ul>
                                                    {% for k in j.employees.all %}
                                                        <li>
                                                            {{ k.get_full_name }} -
                                                            <span class="badge badge-info">Position: "{{ k.position }}"</span>
                                                            <ul>
                                                                {% for u in k.employees.all %}
                                                                    <li>
                                                                        {{ u.get_full_name }} -
                                                                        <span class="badge badge-dark">Position: "{{ u.position }}"</span>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            </td>
        </tr>
    </table>
{% endfor %}
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>